// Header styles
.Header {
  width: 100%;
  height: 80px;
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.Navbar {
  margin-left: auto;
}
.Navbar_List {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.Navbar_Item {
  margin-left: 20px;
}
