@import url("https://fonts.cdnfonts.com/css/century-schoolbook");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  background-color: #e5e1de;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0;
  padding: 0;
  display: flex;
}

.Definitions {
  font-size: 1.5em;
  text-align: justify;
}

.Code {
  font-size: 1rem;
  font-weight: bold;
  width: 50vw;
  //transform: translateX(-50%);
  //position: relative;
}

.Chapter_Title {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: -30vh;
  text-shadow: 2px 2px 4px #000000;
  width: 100%;
  text-align: center;
}

.Section_Title {
  color: #53af32;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Subsection_Title {
  color: #53af32;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Sections_Tab {
  width: 15vw;
  background-color: #53af32;
  left: 0;
  top: 60vh;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Content_Area {
  width: 80vw;
  left: 0vw;
  top: 60vh;
  margin: 0;
  padding: 0vh 5vw;
  position: relative;
}

.Sections_Area {
  top: 20vh;
  padding-bottom: 15vh;
}

.Side_Bar_Menu_Item {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 10px;
  text-align: center;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.Cover_Image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
