// Table_Of_Content.css
@import url("https://fonts.cdnfonts.com/css/century-schoolbook");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  background-color: #e5e1de;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.Chapter_List {
  color: #53af32;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Chapter_List_Element {
  color: #53af32;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.Section_List {
  color: #53af32;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.Section_List_Element {
  color: #53af32;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}
